name: Train and Test Model

on:
  push:
    branches:
      - main
      - "feature/**"
  pull_request:
    branches:
      - main
  workflow_dispatch:

jobs:
  train:
    name: Train Model
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up Python 3.10
        uses: actions/setup-python@v4
        with:
          python-version: "3.10"

      - name: Install DVC
        run: pip install dvc

      - name: Pull data with DVC
        run: |
          dvc pull || curl -L https://raw.githubusercontent.com/Jeppe-T-K/itu-sdse-project-data/refs/heads/main/raw_data.csv -o notebooks/artifacts/raw_data.csv

      - name: Set up Go
        uses: actions/setup-go@v4
        with:
          go-version: "1.21"

      - name: Install Dagger CLI
        run: |
          cd /usr/local
          curl -L https://dl.dagger.io/dagger/install.sh | sudo sh

      - name: Run Dagger pipeline
        run: dagger run go run dagger-pipeline.go

      - name: Upload model artifact
        uses: actions/upload-artifact@v4
        with:
          name: model
          path: output/model.pkl
          retention-days: 90

  test:
    name: Test Model
    runs-on: ubuntu-latest
    needs: train
    steps:
      - name: Set up Python 3.12
        uses: actions/setup-python@v5
        with:
          python-version: "3.12"

      - name: Install XGBoost
        run: pip install xgboost

      - name: Run Model Inference Test
        uses: lasselundstenjensen/itu-sdse-project-model-validator@main
